<?xml version="1.0" encoding="UTF-8"?>
<!--Entrantes (Ensaladas)-->
<menu>
  <plato tipo="entrante">
    <numero>1</numero>
    <nombre>Ensalada César</nombre>
    <descripcion>Lechuga romana, pollo, queso parmesano, crutones y aderezo César</descripcion>
    <precio>10.50</precio>
    <calorias>450</calorias>
    <ingredientes><caracteristica>sin gluten</caracteristica></ingredientes>
    <imagen>cesar.jpg</imagen>
  </plato>
  <plato tipo="entrante">
    <numero>2</numero>
    <nombre>Ensalada Mediterránea</nombre>
    <descripcion>Tomate, pepino, cebolla, aceitunas y queso feta con aliño de orégano</descripcion>
    <precio>9.00</precio>
    <calorias>350</calorias>
    <ingredientes><caracteristica>vegetariano</caracteristica></ingredientes>
    <imagen>mediterranea.jpg</imagen>
  </plato>
  <plato tipo="entrante">
    <numero>3</numero>
    <nombre>Ensalada de quinoa</nombre>
    <descripcion>Quinoa, aguacate, tomate cherry, espinacas y vinagreta de limón</descripcion>
    <precio>11.00</precio>
    <calorias>380</calorias>
    <ingredientes><caracteristica>sin gluten</caracteristica></ingredientes>
    <imagen>quinoa.jpg</imagen>
  </plato>
  <plato tipo="entrante">
    <numero>4</numero>
    <nombre>Carpaccio de ternera</nombre>
    <descripcion>Ternera finamente cortada con rúcula, parmesano y vinagreta de mostaza</descripcion>
    <precio>12.00</precio>
    <calorias>280</calorias>
    <ingredientes><caracteristica>sin gluten</caracteristica></ingredientes>
    <imagen>carpaccio.jpg</imagen>
  </plato>
  <plato tipo="entrante">
    <numero>5</numero>
    <nombre>Ensalada Caprese</nombre>
    <descripcion>Tomate, mozzarella fresca, albahaca y aceite de oliva</descripcion>
    <precio>8.50</precio>
    <calorias>320</calorias>
    <ingredientes><caracteristica>vegetariano</caracteristica></ingredientes>
    <imagen>Caprese.jpg</imagen>
  </plato>

  <!--Platos principales (Carnes)-->
  <plato tipo="principal">
    <numero>6</numero>
    <nombre>Solomillo a la parrilla</nombre>
    <descripcion>Solomillo de ternera con patatas y ensalada</descripcion>
    <precio>20.00</precio>
    <calorias>550</calorias>
    <ingredientes><caracteristica>carne</caracteristica></ingredientes>
    <imagen>solomillo.jpg</imagen>
  </plato>
  <plato tipo="principal">
    <numero>7</numero>
    <nombre>Costillas BBQ</nombre>
    <descripcion>Costillas de cerdo con salsa barbacoa y puré de patatas</descripcion>
    <precio>18.50</precio>
    <calorias>700</calorias>
    <ingredientes><caracteristica>carne</caracteristica></ingredientes>
    <imagen>costillasbbq.jpg</imagen>
  </plato>
  <plato tipo="principal">
    <numero>8</numero>
    <nombre>Pollo al horno</nombre>
    <descripcion>Muslo de pollo asado con hierbas y verduras salteadas</descripcion>
    <precio>16.00</precio>
    <calorias>480</calorias>
    <ingredientes><caracteristica>sin gluten</caracteristica></ingredientes>
    <imagen>pollo.jpg</imagen>
  </plato>
  <plato tipo="principal">
    <numero>9</numero>
    <nombre>Entrecot de ternera</nombre>
    <descripcion>Entrecot con salsa de pimienta y patatas gratinadas</descripcion>
    <precio>22.00</precio>
    <calorias>600</calorias>
    <ingredientes><caracteristica>carne</caracteristica></ingredientes>
    <imagen>entrecot.jpg</imagen>
  </plato>
  <plato tipo="principal">
    <numero>10</numero>
    <nombre>Pato confitado</nombre>
    <descripcion>Pato confitado con puré de boniato y salsa de frutos rojos</descripcion>
    <precio>24.00</precio>
    <calorias>750</calorias>
    <ingredientes><caracteristica>carne</caracteristica></ingredientes>
    <imagen>pato.jpg</imagen>
  </plato>
  <plato tipo="principal">
    <numero>11</numero>
    <nombre>Chuletón de buey</nombre>
    <descripcion>Chuletón a la parrilla con guarnición de verduras</descripcion>
    <precio>30.00</precio>
    <calorias>850</calorias>
    <ingredientes><caracteristica>carne</caracteristica></ingredientes>
    <imagen>buey.jpg</imagen>
  </plato>
  <plato tipo="principal">
    <numero>12</numero>
    <nombre>Cordero asado</nombre>
    <descripcion>Cordero al horno con patatas panaderas</descripcion>
    <precio>26.00</precio>
    <calorias>780</calorias>
    <ingredientes><caracteristica>carne</caracteristica></ingredientes>
    <imagen>cordero.jpg</imagen>
  </plato>
  <plato tipo="principal">
    <numero>13</numero>
    <nombre>Hamburguesa gourmet</nombre>
    <descripcion>Hamburguesa de ternera con queso brie y cebolla caramelizada</descripcion>
    <precio>15.00</precio>
    <calorias>650</calorias>
    <ingredientes><caracteristica>carne</caracteristica></ingredientes>
    <imagen>burguer.jpg</imagen>
  </plato>
  <plato tipo="principal">
    <numero>14</numero>
    <nombre>Pechuga de pato</nombre>
    <descripcion>Pechuga de pato con salsa de naranja</descripcion>
    <precio>21.00</precio>
    <calorias>680</calorias>
    <ingredientes><caracteristica>carne</caracteristica></ingredientes>
    <imagen>pechugaPato.jpg</imagen>
  </plato>
  <plato tipo="principal">
    <numero>15</numero>
    <nombre>Brochetas de ternera</nombre>
    <descripcion>Brochetas de ternera marinadas con especias y servidas con arroz</descripcion>
    <precio>17.50</precio>
    <calorias>550</calorias>
    <ingredientes><caracteristica>carne</caracteristica></ingredientes>
    <imagen>brochetas.jpg</imagen>
  </plato>

  <!--Postres-->
  <plato tipo="postre">
    <numero>16</numero>
    <nombre>Tarta de queso</nombre>
    <descripcion>Tarta de queso casera con mermelada de frutos rojos</descripcion>
    <precio>7.00</precio>
    <calorias>400</calorias>
    <ingredientes><caracteristica>vegetariano</caracteristica></ingredientes>
    <imagen>tartaqueso.jpg</imagen>
  </plato>
  <plato tipo="postre">
    <numero>17</numero>
    <nombre>Flan de huevo</nombre>
    <descripcion>Flan de huevo casero con caramelo</descripcion>
    <precio>5.50</precio>
    <calorias>300</calorias>
    <ingredientes><caracteristica>vegetariano</caracteristica></ingredientes>
    <imagen>flan.jpg</imagen>
  </plato>
  <plato tipo="postre">
    <numero>18</numero>
    <nombre>Brownie de chocolate</nombre>
    <descripcion>Brownie de chocolate con helado de vainilla</descripcion>
    <precio>6.50</precio>
    <calorias>450</calorias>
    <ingredientes><caracteristica>vegetariano</caracteristica></ingredientes>
    <imagen>brownie.jpg</imagen>
  </plato>
  <plato tipo="postre">
    <numero>19</numero>
    <nombre>Tiramisú</nombre>
    <descripcion>Tiramisú casero con cacao y café</descripcion>
    <precio>7.50</precio>
    <calorias>480</calorias>
    <ingredientes><caracteristica>vegetariano</caracteristica></ingredientes>
    <imagen>tiramisu.jpg</imagen>
  </plato>
  <plato tipo="postre">
    <numero>20</numero>
    <nombre>Helado artesanal</nombre>
    <descripcion>Helado casero de diferentes sabores</descripcion>
    <precio>5.00</precio>
    <calorias>320</calorias>
    <ingredientes><caracteristica>vegetariano</caracteristica></ingredientes>
    <imagen>helado.jpg</imagen>
  </plato>
</menu>